<!DOCTYPE html>
<html>
    <head>
    <title>Student Management System</title>
     <style>
body {
    font-family: 'Segoe UI', sans-serif;
    height: 95vh;
    background: linear-gradient(135deg, #637ffc, #b57af1);
    font-size: 32px;
    color: #333;
    margin-top: 50px;
    text-align: center;
}
button{
    padding: 12px 20px;
    margin: 10px;
    background: #acccef;
    color: white;
    border: none;
    border-radius: 30px;
       font-size: 35px;
}
button:hover {
    background: #2196f3;
}
</style>
    </head>
    <body> 
        <h1>Welcome to the Student Record Portal System</h1>
        <a href="/register">
            <button>Register</button>
        </a>
        <a href="/login">
            <button>Login</button>
        </a>
    </body>
</html>